[user]
	name = Hamel Desai
	email =
[core]
	editor = code --wait
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/hameld/.gitignore_global
[web]
	browser = google-chrome
[alias]
  co = checkout
  br = branch
	bdd = branch -D
  ci = commit
	cm = commit -m
	cem = commit --allow-empty -m
  st = status
	po = push origin
	pof = push -f origin
	pu = pull origin
	puff = pull origin --no-ff
	ls = log --oneline
  ll = log --stat
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
  ui = true
[color "branch"]
	current = yellow
	local = green
	remote = cyan
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
	whitespace = red reverse
[color "status"]
	added = green
	untracked = red
[pull]
	ff = only
	# rebase = true # -> rebase
	# rebase = false -> merge
