/* Set italics and comments to the script font */
.mtk3,
.mtk4 {
  font-family: "OperatorMonoLig-BookItalic";
  font-size: 1em;
  font-style: normal;
  color: #b5b5b5 !important;
}

.comment {
  font-family: "OperatorMonoLig-BookItalic";
  font-style: italic;
  font-size: 1em;
  color: #b5b5b5 !important;
}

.comment:not(.punctuation) {
  font-family: "OperatorMonoLig-BookItalic";
  font-size: 1em;
  color: #b5b5b5 !important;
}

.monaco-editor .line-numbers {
  font-family: "OperatorMonoLig-BookItalic";
  font-size: 16px !important;
}

.monaco-list-row.selected {
  font-weight: bold;
}

.explorer-folders-view
  > .monaco-list
  > .monaco-scrollable-element
  > .monaco-list-rows
  span {
  font-size: var(--font-size-m);
  font-family: "Hasklug Nerd Font Mono";
}

.explorer-folders-view
  > .monaco-list
  > .monaco-scrollable-element
  > .monaco-list-rows {
  /* margin-left: -12px; */
  font-family: "Hasklug Nerd Font Mono";
}
