/* Set italics and comments to the script font */
.mtk3,
.mtk4 {
  font-family: "OperatorMonoLig-BookItalic";
  font-size: 1em;
  font-style: normal;
  color: #b5b5b5 !important;
}

.comment {
  font-family: "OperatorMonoLig-BookItalic";
  font-style: italic;
  font-size: 1em;
  color: #b5b5b5 !important;
}

.comment:not(.punctuation) {
  font-family: "OperatorMonoLig-BookItalic";
  font-size: 1em;
  color: #b5b5b5 !important;
}

.monaco-editor .line-numbers {
  font-family: "OperatorMonoLig-BookItalic";
  font-size: 1em !important;
  margin-left: -0.9375em !important;
}

.monaco-list-row.selected {
  font-weight: bold;
}

.explorer-folders-view
  > .monaco-list
  > .monaco-scrollable-element
  > .monaco-list-rows
  span {
  font-size: 0.875rem;
  font-family: "Hasklug Nerd Font Mono";
}

.explorer-folders-view
  > .monaco-list
  > .monaco-scrollable-element
  > .monaco-list-rows {
  font-family: "Hasklug Nerd Font Mono";
}
