format = """
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$custom\
$package\
$nodejs\
$bun\
$deno\
$python\
$golang\
$ruby\
$rails_version\
$helm\
$java\
$terraform\
$character"""

[directory]
style = "blue"

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"

[git_branch]
format = "[$branch]($style)"
style = "bright-black"

[git_status]
format = "[[ (*$conflicted$untracked$modified$staged$renamed$deleted)](218)($ahead_behind$stashed)]($style)"
style = "cyan"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[cmd_duration]
format = " took [$duration]($style) "
style = "yellow"

[custom.nix_version]
symbol = "󱄅"
command = "nix --version | sed 's/nix (Determinate Nix \\([0-9.]*\\)) \\([0-9.]*\\)/det:\\1 nix:\\2/'"
format = "[$symbol $output](fg:#a2d2df) "
when = "command -v nix && [[ -n $DEVBOX_SHELL ]]"
detect_folders = [".devbox"]
detect_files = ["devbox.json", "devbox.lock"]

[package]
symbol = ""
format = "[$symbol ($version)](fg:#CBC3E3) "

[nodejs]
symbol = ""
style = "fg:#f5e0dc"
format = "[$symbol ($version)](fg:#a6e3a1) "

[bun]
symbol = "\ue76f"
style = "fg:#f5e0dc"
format = "[$symbol ($version)](fg:#E8D9C5) "

[deno]
symbol = "\ue7c0"
style = "fg:#f5e0dc"
format = "[$symbol ($version)](fg:#8f8f8f) "

[python]
symbol = ""
style = "fg:#f5e0dc"
format = "[$symbol ($version)](fg:#f2cdcd) "

[ruby]
symbol = ""
style = "fg:#E10531"
format = "[$symbol ($version)](fg:#E10531) "

[custom.rails_version]
symbol = "󰫏"
style = "fg:#E7365A"
format = "[$symbol ($version)](fg:#E7365A) "

[golang]
symbol = ""
style = "fg:#74c7ec"
format = "[$symbol ($version)](fg:#74c7ec) "

[helm]
symbol = "⎈"
style = "fg:#b4befe"
format = "[$symbol ($version)](fg:#b4befe) "

[java]
symbol = ""
style = "fg:#eba0ac"
format = "[$symbol ($version)](fg:#eba0ac) "

[terraform]
symbol = "󱁢"
style = "fg:#b4befe"
format = "[$symbol ($version)](fg:#b4befe) "
