{{- if eq .profile "mac-thin" -}}
{{ joinPath .chezmoi.sourceDir ".." ".." "hosts" "thin-mac" "Brewfile" }}
{{- else -}}
{{ joinPath .chezmoi.sourceDir ".." ".." "hosts" "work-mac" "resilience" "Brewfile" }}
{{- end -}}
