{{- if eq .profile "mac-air" -}}
{{ joinPath .chezmoi.sourceDir ".." ".." "hosts" "mac-air" "Brewfile" }}
{{- else -}}
{{ joinPath .chezmoi.sourceDir ".." ".." "hosts" "mac-work" "Brewfile" }}
{{- end -}}
