{{- if eq .profile "ubuntu" -}}
{{ joinPath .chezmoi.sourceDir ".." ".." "hosts" "ubuntu-dev" "mise.toml" }}
{{- else -}}
{{ joinPath .chezmoi.sourceDir ".." ".." "config" "mise" "config.toml" }}
{{- end -}}
