{{- if eq .profile "work-mac" }}
.zshrc
.config/zsh
.config/starship.toml
{{- end }}
{{- if ne .profile "ubuntu" }}
.config/ghostty
.gitignore_global
.ssh
.config/tmux
.local
20-install-ubuntu-tools.sh
{{- end }}
{{- if and (ne .profile "ubuntu") (ne .profile "mac-mini") }}
.config/btop
.config/fastfetch
{{- end }}
{{- if ne .profile "ubuntu" }}
.config/mise
{{- end }}
{{- if eq .profile "ubuntu" }}
Library
.config/homebrew
.hermes
.terminfo
30-install-thin-tools.sh
40-install-work-tools.sh
{{- end }}
{{- if eq .profile "mac-thin" }}
.hermes
20-install-ubuntu-tools.sh
40-install-work-tools.sh
{{- end }}
{{- if eq .profile "mac-mini" }}
.config/homebrew
.terminfo
20-install-ubuntu-tools.sh
30-install-thin-tools.sh
40-install-work-tools.sh
{{- end }}
{{- if eq .profile "work-mac" }}
.hermes
.terminfo
20-install-ubuntu-tools.sh
30-install-thin-tools.sh
{{- end }}
