{{- if eq .profile "mac-work" }}
.zshrc
.config/zsh
.config/starship.toml
{{- end }}
{{- if ne .profile "mac-pro" }}
.config/karabiner
{{- end }}
{{- if ne .profile "mac-air" }}
Library/Application Support/com.mitchellh.ghostty/host.conf
{{- end }}
{{- if or (eq .profile "mac-air") (eq .profile "mac-work") }}
.config/btop
.config/mise
{{- end }}
{{- if eq .profile "mac-work" }}
.config/fastfetch
{{- end }}
{{- if eq .profile "mac-air" }}
.hermes
40-install-work-tools.sh
{{- end }}
{{- if eq .profile "mac-mini" }}
.config/homebrew
.terminfo
30-install-thin-tools.sh
40-install-work-tools.sh
{{- end }}
{{- if eq .profile "mac-pro" }}
.config/homebrew
.hermes
.terminfo
30-install-thin-tools.sh
40-install-work-tools.sh
{{- end }}
{{- if eq .profile "mac-work" }}
.hermes
.terminfo
30-install-thin-tools.sh
{{- end }}
