{{- $repo := joinPath .chezmoi.sourceDir ".." ".." -}}
{{- if eq .profile "ubuntu" -}}
{{ joinPath $repo "hosts" "ubuntu-dev" ".zshrc" }}
{{- else if eq .profile "mac-thin" -}}
{{ joinPath $repo "hosts" "mac-thin" ".zshrc" }}
{{- else if eq .profile "mac-pro" -}}
{{ joinPath $repo "hosts" "mac-pro" ".zshrc" }}
{{- else if eq .profile "mac-mini" -}}
{{ joinPath $repo "hosts" "mac-mini" ".zshrc" }}
{{- end -}}
